# IDDN.FR.000.000000.000.X.X.0000.000.00000
# Odyssey-Dependencies is subject to copyright © laws and is the legal and intellectual property of Praxinos,Inc - Year of publishing 2023

#---

root = true

[*]
indent_style = space
indent_size = 4
# end_of_line = lf # .gitattributes will do that at checkout
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# To be able to use this settings, VisualCode must NOT set its own trim_trailing_whitespace settings
# https://github.com/editorconfig/editorconfig-vscode/issues/153#issuecomment-1143400391
[*.md]
trim_trailing_whitespace = false

[*.yaml]
indent_size = 2
